.app {
  background-color: #111;
  color: #ebecf3;
  font-family: "Handjet";
  display: grid;
  grid-template-columns: 6rem 1fr;
}
.sidebar {
  background-color: #000;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1;
    flex-shrink: 0;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    border-radius: 4px;
    margin: 1.8rem 0;
  }
  .link {
    height: 10rem;
    flex-shrink: 0;
    writing-mode: vertical-lr;
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    border-right: 1px solid transparent;
    transition: all 0.1s;
    width: 100%;
    &.active {
      background-color: #111;
      border-right: 1px solid #0aff9d;
      opacity: 1;
    }
    &:hover {
      background-color: #111;
      border-right: 1px solid #0aff9d;
      opacity: 1;
    }
  }
}
.header {
  height: calc(45px + 3.6rem);
  padding: 0 3.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 20;
  background: hsla(0, 0%, 7%, 0.25);
  backdrop-filter: blur(12px);
  font-size: 2.4rem;
  font-weight: 700;
  .header_link {
    display: flex;
    gap: 1.6rem;
    a {
      opacity: 0.5;
      position: relative;
      z-index: 20;
      &:hover {
        color: #0aff9d;
        opacity: 1;
      }
    }
  }
  .cust_btn {
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    border: 1px solid #0aff9d;
    background: transparent;
    color: #0aff9d;
    font-size: 2rem;
    border-radius: 4px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    transition: color 0.2s;
    &:hover {
      color: #000;
      &::before {
        top: 0;
        left: 0;
      }
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background: #0aff9d;
      height: 100%;
      width: 100%;
      left: -100%;
      top: -100%;
      transition: left 0.2s, top 0.2s;
    }
  }
}
.home {
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: 4.8rem 0;

  h1 {
    font-size: 9.6rem;
    font-weight: 900;
    line-height: 1.1;
  }
  h2 {
    font-size: 3.6rem;
    line-height: 1.1;
    margin-top: 1.6rem;
    font-weight: 200;
  }
  p {
    max-width: 60rem;
  }
  h1,
  h2,
  p,
  span {
    &::selection {
      background-color: #0aff9d;
      color: #000;
    }
  }
  .cust_btn {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    background: #0aff9d;
    color: #000;
    font-size: 1.8rem;
    border-radius: 4px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    transition: opacity 0.2s;
  }
}
.about_content {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 2.4rem;
  .about_links {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .about_items {
    h4 {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 2.4rem;
      margin: 0 0 2.4rem 0;
    }
    .about_tech {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem;
      margin-bottom: 4.8rem;
      .about_items {
        font-size: 1.8rem;
        background: #232323;
        padding: 0.2rem 0.8rem;
        border-radius: 5rem;
      }
    }
  }
}
.project_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.2rem;
  .project_card {
    .project_img {
      width: 100%;
      aspect-ratio: 16/9;
      background: #232323;
      cursor: pointer;
      position: relative;
      border-radius: 0.8rem;
      overflow: hidden;
      img {
        width: 85%;
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 20%;
        transition: all 0.25s;
        border-radius: 0.4rem;
      }
    }
    .project_card_content {
      margin: 1.6rem 0;
      .title {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        h4 {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          max-width: calc(100% - 15rem);
        }
        .line {
          width: 100%;
          height: 1px;
          background: #ebecf3;
          opacity: 0.3;
        }
      }
    }
  }
}
.experience_content {
  margin-bottom: 2.4rem;
  padding: 0 1.2rem 2.4rem;
  border-bottom: 1px solid #232323;
  .experience_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1.2rem 0;
    span {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
  .experience_items {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 2.4rem;
    .item {
      font-size: 1.8rem;
      background: #232323;
      padding: 0.2rem 0.8rem;
      border-radius: 5rem;
    }
  }
}
.contact_content {
  max-width: 70rem;
  margin: auto;
  h1 {
    font-size: 9.6rem;
    text-align: center;
    font-weight: 900;
    line-height: 1;
    margin: 0;
  }
  .mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }
}
.end_hue {
  height: 40rem;
  background: linear-gradient(180deg, #111, #000);
}

.title_head {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  .line {
    width: 100%;
    height: 1px;
    background: #ebecf3;
    opacity: 0.3;
  }
  h3 {
    font-size: 5.6rem;
    font-weight: 900;
    text-align: end;
  }
}
.section {
  position: relative;
  z-index: 10;
  max-width: 115rem;
  margin: auto;
  padding: 9.6rem;
  overflow: hidden;
}
.temp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-weight: 200;
  font-size: 2.4rem;
  margin: 2.4rem 0;
}

.dotGrid {
  grid-template-columns: repeat(25, 1fr);
  position: absolute;
  top: 12px;
  bottom: 12px;
  right: 3.6rem;
  max-width: 75%;
  display: grid;
  z-index: 0;
  .dots {
    padding: 0.8rem;
    cursor: crosshair;
    border-radius: 8px;
    &:hover {
      background: hsla(0, 0%, 100%, 0.15);
      transition: background 0.25s;
      .dot {
        background: linear-gradient(180deg, #111, #0aff9d) !important;
        opacity: 1 !important;
      }
    }
    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: linear-gradient(180deg, #111, #ebecf3);
      opacity: 0.5;
    }
  }
}
.reveal {
  position: relative;
  width: fit-content;
  overflow: hidden;
  .slide {
    position: absolute;
    inset: 4px 0 4px 0;
    background-color: #0aff9d;
    z-index: 20;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 2.4rem;
  }
  .section {
    padding: 7.2rem 2.4rem;
  }
  .about_content {
    grid-template-columns: 1fr;
  }
  .project_content {
    grid-template-columns: 1fr;
  }
}
